[submodule "site-lisp/org-remoteimg"]
	path = site-lisp/org-remoteimg
	url = git@github.com:gaoDean/org-remoteimg.git
[submodule "site-lisp/gruber-darker-theme"]
	path = site-lisp/gruber-darker-theme
	url = git@github.com:rexim/gruber-darker-theme.git
[submodule "site-lisp/aidermacs"]
	path = site-lisp/aidermacs
	url = git@github.com:MatthewZMD/aidermacs.git
[submodule "site-list/gua.el"]
	path = site-list/gua.el
	url = git@github.com:VandeeFeng/gua.el.git
[submodule "site-lisp/gua.el"]
	path = site-lisp/gua.el
	url = git@github.com:VandeeFeng/gua.el.git
[submodule "site-lisp/thing-edit"]
	path = site-lisp/thing-edit
	url = git@github.com:manateelazycat/thing-edit.git
[submodule "site-lisp/emacs-rime"]
	path = site-lisp/emacs-rime
	url = git@github.com:DogLooksGood/emacs-rime.git
[submodule "site-lisp/emacs-libvterm"]
	path = site-lisp/emacs-libvterm
	url = git@github.com:akermu/emacs-libvterm.git
